# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
# Android
android/.gradle/
android/app/build/
android/local.properties
*.keystore
# IDE
.idea/
*.iml
.vscode/
